## Q1

In [1]:
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

In [2]:
answer = []
for q in question:
    if "_" not in q:
        answer.append(q)

print(answer)

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

## Q2

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [5]:
df = df[df["Year"] >= 2011]
df

     Year        Country  Spending_USD  Life_Expectancy
214  2011         Canada      4228.962             81.4
215  2011        Germany      4566.678             80.5
216  2011         France      4161.698             82.3
217  2011  Great Britain      3495.652             81.0
218  2011          Japan      3740.756             82.7
219  2011            USA      8079.467             78.7
220  2012         Canada      4336.249             81.6
221  2012        Germany      4745.546             80.6
222  2012         France      4299.434             82.1
223  2012  Great Britain      3614.131             81.0
224  2012          Japan      3970.765             83.2
225  2012            USA      8346.064             78.8
226  2013         Canada      4428.753             81.7
227  2013        Germany      4951.677             80.6
228  2013         France      4544.964             82.3
229  2013  Great Britain      3667.636             81.1
230  2013          Japan      4308.252             83.4
231  2013            USA      8519.620             78.8
232  2014         Canada      4536.810             81.8
233  2014        Germany      5151.709             81.2
234  2014         France      4626.679             82.8
235  2014  Great Britain      3758.935             81.4
236  2014          Japan      4328.364             83.7
237  2014            USA      8925.879             78.9
238  2015         Canada      4635.285             81.9
239  2015        Germany      5295.975             80.7
240  2015         France      4667.156             82.4
241  2015  Great Britain      3805.820             81.0
242  2015          Japan      4515.556             83.9
243  2015            USA      9355.118             78.7
244  2016         Canada      5044.275             82.0
245  2016        Germany      5669.064             81.0
246  2016         France      4928.128             82.7
247  2016  Great Britain      3960.141             81.2
248  2016          Japan      4295.858             84.1
249  2016            USA      9717.649             78.7
250  2017         Canada      5150.470             81.9
251  2017        Germany      5970.163             81.1
252  2017         France      5005.756             82.7
253  2017  Great Britain      4059.125             81.3
254  2017          Japan      4412.852             84.2
255  2017            USA     10046.472             78.6
256  2018         Canada      5308.356             82.0
257  2018        Germany      6281.840             81.0
258  2018         France      5099.306             82.8
259  2018  Great Britain      4189.708             81.3
260  2018          Japan      4554.276             84.3
261  2018            USA     10451.386             78.7
262  2019         Canada      5189.721             82.2
263  2019        Germany      6407.928             81.3
264  2019         France      5167.839             82.9
265  2019  Great Britain      4385.463             81.4
266  2019          Japan      4610.794             84.4
267  2019            USA     10855.517             78.8
268  2020         Canada      5828.324             81.7
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

In [6]:
# groupby
df.groupby(["Year", "Country"])["Life_Expectancy"].mean().unstack()

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

In [7]:
# pivot_table
pd.pivot_table(df, index="Year", columns="Country", values="Life_Expectancy")

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

## Q3

### pandas 기본
* 참고 문서
    * 10 minutes to pandas - http://pandas.pydata.org/pandas-docs/version/1.0.0/getting_started/10min.html
    * pandas cheat sheet - http://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
* Subset
    * df[컬럼] `Series`
    * df[[컬럼]] `DataFrame`  
    * df[조건]
    * df.head(n) : 상위 n개 열
    * df.tail(n) : 하위 n개 열
    * df.loc[행, 열]
    * df.iloc[행, 열]
* Summarize
    * df.values_counts() : 빈도수 계산
    * len(df) : 길이
    * df.shape : 행, 열 개수
    * df.nunique() : 컬럼 별 유일한 값
    * df.describe()
    * df.info()
* Reshaping
    * df.sort_values("기준 컬럼") : 정렬
        * `ascending=False` : 역순
    * df.drop([컬럼], axis=1) : 컬럼 기준 drop
* Group Data
    * df.groupby([컬럼])[컬럼].agg(["mean", "sum", "count"])
    * pd.pivot_table(df, index="", values="", aggfunc="")
* Plotting
    * df.plot()
        * area, bar, density 등
     
### 파일 경로 설정
* 파일 경로 확인
    1. %pwd
    2. import os<br>os.getcwd()
* 파일 확인
    * from glob import glob<br>glob("data/*")
* 파일 불러오기
    * pd.read_csv("파일 경로")
        * encoding="cp949" - 한글 불러오기
    * 여러 파일 한번에 불러오기
        1. glob("data/store/`규칙(*csv, *_*)`")
        2. pd.concat(`파일 이름 리스트`)

## Q4

In [4]:
df1 = pd.read_csv("data1/서울특별시 강남구_생활폐기물배출량_20221019.csv", encoding="cp949")
df1

    강남구  2019년(생활폐기물)-톤  2020년(생활폐기물)-톤
0   01월            7550            7350
1   02월            6387            6688
2   03월            7198            6973
3   04월            6820            6448
4   05월            7767            6470
5   06월            7275            7923
6   07월            8164            8015
7   08월            7807            7859
8   09월            6811            7452
9   10월            7222            6875
10  11월            7592            7337
11  12월            7298            6911

In [5]:
# 상반기 평균 구하기
df1_1 = df1.iloc[:6, 1:].mean()
df1_1

2019년(생활폐기물)-톤    7166.166667
2020년(생활폐기물)-톤    6975.333333
dtype: float64

In [6]:
# 하반기 평균 구하기
df1_2 = df1.iloc[6:, 1:].mean()
df1_2

2019년(생활폐기물)-톤    7482.333333
2020년(생활폐기물)-톤    7408.166667
dtype: float64